@charset "UTF-8";

@font-face {
  font-family: "smartday";
  src:url("fonts/smartday.eot");
  src:url("fonts/smartday.eot?#iefix") format("embedded-opentype"),
    url("fonts/smartday.woff") format("woff"),
    url("fonts/smartday.ttf") format("truetype"),
    url("fonts/smartday.svg#smartday") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "smartday" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "smartday" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airdrop:before {
  content: "\e000";
}
.icon-alert:before {
  content: "\e001";
}
.icon-all:before {
  content: "\e002";
}
.icon-arrow-fill:before {
  content: "\e004";
}
.icon-calendar-view:before {
  content: "\e006";
}
.icon-calendar-view-sel:before {
  content: "\e007";
}
.icon-check:before {
  content: "\e008";
}
.icon-checklist:before {
  content: "\e009";
}
.icon-compy:before {
  content: "\e00a";
}
.icon-contact:before {
  content: "\e00b";
}
.icon-day:before {
  content: "\e00c";
}
.icon-delete:before {
  content: "\e00d";
}
.icon-drag:before {
  content: "\e00e";
}
.icon-due:before {
  content: "\e00f";
}
.icon-event:before {
  content: "\e010";
}
.icon-event-sel:before {
  content: "\e011";
}
.icon-event-sel-copy:before {
  content: "\e012";
}
.icon-flag:before {
  content: "\e013";
}
.icon-hide:before {
  content: "\e014";
}
.icon-info:before {
  content: "\e015";
}
.icon-location:before {
  content: "\e016";
}
.icon-long:before {
  content: "\e017";
}
.icon-map:before {
  content: "\e018";
}
.icon-move-top:before {
  content: "\e019";
}
.icon-mul-select:before {
  content: "\e01a";
}
.icon-note-view:before {
  content: "\e01b";
}
.icon-note-view-sel:before {
  content: "\e01c";
}
.icon-project-sel:before {
  content: "\e01d";
}
.icon-project-view:before {
  content: "\e01e";
}
.icon-short:before {
  content: "\e01f";
}
.icon-star:before {
  content: "\e020";
}
.icon-stared:before {
  content: "\e021";
}
.icon-tag:before {
  content: "\e022";
}
.icon-task-view:before {
  content: "\e023";
}
.icon-task-view-sel:before {
  content: "\e024";
}
.icon-view-2-weeks:before {
  content: "\e025";
}
.icon-view-week:before {
  content: "\e026";
}
.icon-week:before {
  content: "\e027";
}
.icon-config:before {
  content: "\e028";
}
.icon-sync:before {
  content: "\e029";
}
.icon-task-view-copy:before {
  content: "\e02a";
}
.icon-backkup:before {
  content: "\e02b";
}
.icon-filter:before {
  content: "\e02c";
}
.icon-screenshot-send:before {
  content: "\e02d";
}
.icon-clock:before {
  content: "\e02e";
}
.icon-arrow-up:before {
  content: "\e003";
}
.icon-arrow-right:before {
  content: "\e005";
}
.icon-arrow-left:before {
  content: "\e02f";
}
.icon-arrow-down:before {
  content: "\e030";
}
.icon-undone:before {
  content: "\e031";
}
